@import url(//db.onlinewebfonts.com/c/36c06b5106bed2e2ef2d58902a4b7a31?family=Onyx);

@font-face {font-family: "Onyx"; src: url("//db.onlinewebfonts.com/t/36c06b5106bed2e2ef2d58902a4b7a31.eot"); src: url("//db.onlinewebfonts.com/t/36c06b5106bed2e2ef2d58902a4b7a31.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/36c06b5106bed2e2ef2d58902a4b7a31.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/36c06b5106bed2e2ef2d58902a4b7a31.woff") format("woff"), url("//db.onlinewebfonts.com/t/36c06b5106bed2e2ef2d58902a4b7a31.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/36c06b5106bed2e2ef2d58902a4b7a31.svg#Onyx") format("svg"); }

.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


